.admin__app {
  position: relative;
}

nav {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding-left: 280px;
  z-index: 30;
  display: flex;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgb(242, 247, 248);
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 280px);
  box-sizing: border-box;
}

.navbar__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -3px;
  margin-right: -3px;
  cursor: pointer;
}

.navbar__profile > .navbar__profile-picture {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #9e9d9b;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 99999px;
  margin: 0 7px;
}

.navbar__profile > .navbar__profile-username {
  display: inline-block;
  margin: 0 3px;
  font-weight: bold;
  font-size: 10pt;
}

.navbar__profile > .navbar__profile-dropdown-icon {
  display: inline-block;
  margin: 0 3px;
}

.navbar__profile > .navbar__profile-dropdown-icon .icon {
  width: 0.9rem;
  height: 0.9rem;
  margin-top: 0.2rem;
}

.navbar__menu {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__menu-item {
  margin: 0 0.5rem;
}

aside {
  background: rgb(6, 38, 86);
  max-width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 40;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}

aside .brand {
  height: 100%;
  width: 100%;
  max-height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside .sidemenu {
  box-sizing: border-box;

  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.sidemenu__item > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  color: rgb(144, 160, 193);
}

.sidemenu__item > a:hover,
a.active {
  background: rgb(5, 47, 106);
  color: #ffffff;
  transition: all ease-in 300;
}

.sidemenu__item > a span {
  display: inline-block;
}

.sidemenu__item > a span:nth-child(1) {
  margin-right: 1rem;
}

.sidemenu__item .sidemenu__item-separator {
  padding: 1rem 1.5rem;
  font-weight: bold;
  color: rgb(101, 125, 156);
}

.brand .brand__title {
  font-weight: bold;
}

main {
  width: 100wh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 280px;
  padding-top: 60px;
  background: rgb(242, 247, 248);
}
