.profile {
  position: relative;
}

.profile__menu {
  position: absolute;
  display: none;
  top: 0;
  left: auto;
  right: 0;
  min-width: 10rem;
  margin-top: 3.5rem;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 1px 7px 12px -1px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 1px 7px 12px -1px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 1px 7px 12px -1px rgba(0, 0, 0, 0.46);
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.profile__menu.show {
  display: inline-block;
}

.profile__menu .profile__menu-item {
  padding: 0.8rem 1rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.profile__menu-item:hover {
  color: rgb(6, 38, 86);
}
