@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgb(44, 53, 61);
  font-family: 'Open Sans', sans-serif;
}

/* elements */
input,
button,
textarea {
  border: 0;
  background: none;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
}

.container {
  padding: 1rem;
  max-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
